<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Learnapy | Happy Learning</h1>
            <hr>
            <p>
                    A transformative pedagogical interactive learning portal designed to revolutionise the education landscape for local and foreign students studying the Maltese language, offering a holistic approach to learning the language and the Maltese culture.</a>
            </p>
             <a href="#about" class="btn btn-primary btn-xl page-scroll">Stay Tuned</a>
        </div>
    </div>
</header>
